@page "/"

<PageTitle>Описание</PageTitle>

<h1>Скрипты взаимодействия с DB Oracle, Interbase</h1>

<h4>Используемые библиотеки и технологии:</h4>
<br />- Whisper.net
<br />- C# Blazor
<br />- Ffmpeg
<br />- interbasesql.data.interbaseclient v.7.14.6
