@page "/whisper-server"
@using BlazorApp.Client.Pages
@rendermode InteractiveServer

<h3>Режим работы: InteractiveServer (выполнение и обработка запускается на сервере Megatron, результат обратно передаётся с помощью веб-сокета)</h3>

<WhisperComponent />
